# fly.toml app configuration file generated for rowmania-cms on 2023-08-07T11:28:11+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "rowmania-cms"
primary_region = "otp"

[build]

[[mounts]]
  source = "data"
  destination = "/data"

[mounts]
  source="uploads"
  destination="/public/uploads"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
